# REQUISITOS PIP EXTRACTJUR v5.1

# Dependências principais
PyMuPDF==1.26.4 #ou pymupdf==1.24.13
pymupdf4llm==0.0.27
#PyPDF2==3.0.1  # Não mais necessário na v5.0
toml==0.10.2

# OCR (opcional mas recomendado)
pytesseract==0.3.13
Pillow==11.1.0
pdf2image==1.17.0
numpy==2.2.1

# Dependências de OCR
#paddleocr==2.9.1

# Ferramentas de desenvolvimento (linters e formatadores)
black==25.9.0 # Se falhar, use versão anterior: black==24.10.0
flake8==7.3.0
isort==6.1.0
pylint==3.3.8